body, input, div {
  font-family: "Helvetica Neue",Helvetica,Arial,"Hiragino Sans GB",STHeiti,"Microsoft YaHei","WenQuanYi Micro Hei",sans-serif;
}
input {
  font: inherit;
}

button {
  color: white;
}

.tag-chips {
  margin: 18px 0;
}

h1 {
  text-align: center;
}

.app {
  max-width: 600px;
  margin: 0 auto;
}

code {
  background: #f7f7f7;
  color: #455a64;
  padding: 1px 4px;
  font-family: "Source Code Pro", Monaco, Menlo, Consolas, "Courier New", monospace;
}

.hint {
  line-height: 40px;
}

.progress-link {
  margin: 2em 2.8em;
  font-size: 90%;
}

.progress-page,
.progress-done {
  margin: 2em 2.8em;
}

a {
  color: #03a9f4;
  text-decoration: none;
}

.progress-done {
  text-align: center;
}

.progress-content {
  min-width: 400px;
  max-width: 700px;
  min-height: 50px;
}

.results.button {
  width: 100%;
}

body, html {
  height: 100%;
}

.results {
  height: 100%;
  overflow: auto;
  position: fixed;
}

md-list-item, md-list-item .md-list-item-inner {
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.results-sidebar,
.results-content {
  height: 100%;
  overflow: auto;
}

.results .fab {
  position: fixed;
  right: 2em;
  bottom: 2em;
}
